<div class="top-index">
    <ul class="menu-all">
        <li>
            <a href="/user/loginOut">
                <span class="logout-icon"></span>
                <p>退出</p>
            </a>
        </li>
        <li>
            <a id="header_my_appointment" href="/user/my_appointment">
                <span class="book-icon"></span>
                <p>我的预约</p>
            </a>
        </li>
        <li>
            <a id="message_list" href="/user/message_list">
                <span class="message-icon"></span>
                <p>咨询留言</p>
            </a>
        </li>
        <!--<li>-->
            <!--<a id="header_consult_record" href="/user/consult_record">-->
                <!--<span class="record-icon"></span>-->
                <!--<p>咨询记录</p>-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a id="header_consultant_list" href="/user/consultant_list">
                <span class="con-icon"></span>
                <p>咨询师</p>
            </a>
        </li>
    </ul><!--menu-all-->
    <a class="logo" href="/user/consultant_list">
        <img src="images/logo.png"/>
    </a>
</div><!--top-index-->