<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心理咨询平台</title>
    <link href="/user/css/user.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/util/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#header_my_appointment").addClass("menu-active");
        })
    </script>
</head>
<body>
<%include header.html%>

<div class="message-modular">
    <div class="message-title">
        <h1><span>我的预约</span></h1>
    </div><!--message-title-->
    <div class="record-all">
        <table class="record-list" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>咨询师</th>
                <th>预约时间</th>
                <th>预约日期</th>
                <th>咨询时间</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            <% for(var index in myAppointmentList){ %>
                <tr>
                    <td><%=myAppointmentList[index].counselor_name%></td>
                    <td><%=myAppointmentList[index].create_at%></td>
                    <td><%=myAppointmentList[index].appointment_date%></td>
                    <td><%=myAppointmentList[index].modify_at%></td>
                    <td>
                        <%if(myAppointmentList[index].overdue=='N'){%>
                            <span class="no-start">未开始</span>
                        <%}else{%>
                            <span class="expired">过期</span>
                        <% } %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <div class="page_all">
            <div class="page">
                <ul>
                    <li>
                        <a href="/user/my_appointment?curentpage=<%=parseInt(page.curentpage)-1%>"><span class="arrow_left"></span></a>
                    </li>
                    <% for(var index=0;index<page.pageNumber;index++){ %>
                    <li <% if(page.curentpage==index){ %>class="page_active"<% } %> >
                    <a href="/user/my_appointment?curentpage=<%=index%>"><%=index+1%></a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/user/my_appointment?curentpage=<%=parseInt(page.curentpage)+1%>"><span class="arrow_right"></span></a>
                    </li>
                    <div class="clr"></div>
                </ul>
            </div>
            <div class="clr"></div>
        </div><!--page_all-->
    </div><!--record-all-->
</div><!--chat-modular-->

<%include footer.html%>
</body>
</html>