<div class="top-index">
    <ul class="menu-all">
        <li>
            <a href="javascript:logout()">
                <span class="logout-icon"></span>
                <p>退出</p>
            </a>
        </li>
        <li>
            <a id="edit_infor" href="/counselor/work/edit_infor">
                <span class="con-icon"></span>
                <p>资料修改</p>
            </a>
        </li>
        <li>
            <a id="book_manage" href="/counselor/work/book_manage">
                <span class="book-icon"></span>
                <p>预约管理</p>
            </a>
        </li>
        <li>
            <a id="message" href="/counselor/work/message">
                <span class="message-icon"></span>
                <p>用户留言</p>
            </a>
        </li>
        <li>
            <a id="consultant_record" href="/counselor/work/consultant_record">
                <span class="record-icon"></span>
                <p>咨询记录</p>
            </a>
        </li>
    </ul><!--menu-all-->
    <a class="logo" href="/counselor/work/consultant_record">
        <img src="/counselor/images/logo.png"/>
    </a>
</div><!--top-index-->

<script type="text/javascript">
    function logout(){
        window.close();
    }
</script>